html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header {
    margin-left: 10%;
    min-height: 6em;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-name {
    margin-left: 2rem;
    min-inline-size: fit-content;
}

body {
    margin: 0;
}

main {
    
    max-width: 60rem;
    min-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15%;
    color: #272727;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #3d3d3d;
}

nav a {
    color: #3d3d3d;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-color: #60a49a;
}

.top-nav {
    background-color: white;
    padding-right: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    margin-left: 2rem;
}

.horizontal-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.horizontal-list li {
    display: inline-block;
    padding-left: 1rem;
}

.post-list {
    padding: 0;
    list-style-type: none;
}

ul.post-list li {
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    font-size: 1.1em;
}

.span-2{
    grid-column: span 2 / span 2;
    
}

.span-10{
    grid-column: span 10 / span 10;
}

.grid-container {
    display: grid;
}

.grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.newer {
    grid-column: 1/1;
}

.older {
    grid-column: 4/4;
}