
{% load static %}
{% load markdown_extras %}
<!DOCTYPE html>
<html>
    <head>
        <title>Justin O'Brien</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    </head>

    <body>
        <header>
            <nav class="top-nav">            
                <ul class="horizontal-list">
                    <li><a href="https://twitter.com">Twitter</a></li>
                    <li><a href="https://linkedin.com/in/justinaobrien">LinkedIn</a></li>
                    <li><a href="https://github.com/jaoist/">GitHub</a></li>
                </ul>            
            </nav>
        </header>
        <main>
            <h1>Justin O'Brien</h1>
            <p>Software Developer</p>
            <h2>About</h2>
            <p>
                Howdy! My name is Justin, this is my personal website and blog.
                I'm a software developer working primarily with GIS and web applications.
                Aside from that, I enjoy playing and making video games, hiking, travel,
                and even a bit of gardening.
            </p>
            <section class="latest-post">
                <h3>Latest post:</h3>
                <article>
                    {% if blog_posts %}
                        <p>{{ blog_posts.0.content | markdown | safe }}</p>
                    {% endif %}
                </article>
            </section>
            <section>
                <h3>Recent Posts:</h3>
                {% if blog_posts %}
                    <ul class="post-list">
                        {% for bp in blog_posts %}
                            <li>
                                <time class="span-2">{{ bp.pub_date|date:'Y.m.d' }}</time>
                                <a  class="span-10" href="{% url 'blog:detail' bp.id %}">{{ bp.title }}</a>
                            </li>
                        {% endfor %}
                    <ul>
                {% else %}
                    <p>No posts available.</p>
                {% endif %}
            </section>
        <main>
    </body>
</html>