{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    </head>
    <body>
        <header>
            <nav class="top-nav">
                <ul class="horizontal-list">
                    <li><a href="https://twitter.com">Twitter</a></li>
                    <li><a href="https://linkedin.com/in/justinaobrien">LinkedIn</a></li>
                    <li><a href="https://github.com/jaoist/">GitHub</a></li>
                </ul>            
            </nav>
        </header>
        <main>
            <h2>{{ object.title }}</h2>
            <time>{{ object.pub_date }}</time>
            <p>{{ object.content | safe | linebreaks }}</p>
            <div class="grid-container grid-col-4">  
            {% if object.pk < post_count %}
                <a class="newer" href="{% url 'blog:detail' object.pk|add:"1" %}">newer</a>
            {% endif %}
            {% if object.pk > 1 %}                      
                <a class="older" href="{% url 'blog:detail' object.pk|add:"-1" %}">older</a>
            {% endif %}
            </div>
    </body>
</html>