<body>
    <header>
        <p>Justin O'Brien</p>

        <p>About<p>
        <p>This is where I would say a few words about myself, if I cared to.</p>
    </header>
    <main>
        <div class="latest-post">
            <p>Latest post:</p>
            {% if blog_posts %}
                <p>{{ blog_posts.0.content }}</p>
            {% endif %}
        </div>
        <div class="post-list">
            <p>Posts:</p>
            {% if blog_posts %}
                <ul>
                    {% for bp in blog_posts %}
                        <li>
                            <p><a href="{% url 'blog:detail' bp.id %}"><time>{{ bp.pub_date }}</time> - {{ bp.title }}</a></p>
                        </li>
                    {% endfor %}
                <ul>
            {% else %}
                <p>No posts available.</p>
            {% endif %}
        </div>
    <main>
</body>