html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

header {
    min-height: 6em;
    background-color: #8a7b8c;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body {
    margin: 0;
}

main {
    
    max-width: 60rem;
    min-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15%;
    color: #272727;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: hotpink;
}

.top-nav {
    margin-right: 3rem;
}

.horizontal-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.horizontal-list li {
    display: inline-block;
    padding-left: 1rem;
}